# Python
__pycache__/
*.py[cod]
*.pyd
*.so
*.egg-info/
dist/
build/

# Environments
.venv/
venv/
.env/
conda-meta/

# Jupyter
.ipynb_checkpoints/

# OS / Editor
.DS_Store
Thumbs.db
.vscode/
.idea/

# Data (DO NOT COMMIT)
data/raw/
data/interim/
data/processed/

# Outputs / Models (DO NOT COMMIT)
outputs/
*.joblib
*.pkl

# Reports (keep metrics.json if you want)
# If you want to commit reports/metrics.json, do NOT ignore reports/.
# reports/
